<c-row class="justify-content-center">
  
  <c-col md="4">
    <c-card class="mb-4 mx-auto card-interativo" style="max-width: 23rem;" (click)="goToRegisterDoctor()">
      <img cCardImg="top" 
      src="assets/images/medico.jpg" 
      alt="Agendamento de Consulta">
      <c-card-body>
        <h5 cCardTitle>Cadastrar Médico</h5>
        <p cCardText>
          Cadastre médicos, horários e especialidades para sua clínica
        </p>
        <button cButton color="dark" (click)="goToRegisterDoctor()">Acessar Painel</button>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col md="4">
    <c-card class="mb-4 mx-auto card-interativo" style="max-width: 23rem;" (click)="goToRegisterClinic()">
      <img cCardImg="top" 
      src="assets/images/clinica.jpg" 
      alt="Gerenciamento da Clínica">
      <c-card-body>
        <h5 cCardTitle>Minha Clínica</h5>
        <p cCardText>
         Atualize, adicione ou delete informações sobre a sua clínica
        </p>
        <button cButton color="dark" (click)="goToRegisterClinic()">Acessar Painel</button>
      </c-card-body>
    </c-card>
  </c-col>

</c-row>