<c-row class="justify-content-center">

    <c-col md="4" class="mb-4"> <c-card class="mx-auto card-interativo h-100" style="max-width: 23rem;" (click)="goToDoctorsList()">
            <img cCardImg="top" class="card-img-padrao" src="assets/images/medico.jpg" alt="Agenda">
            <c-card-body>
                <h5 cCardTitle>Médicos</h5>
                <p cCardText>
                    Veja, adicione ou remova médicos do corpo clínico.
                </p>
                <button cButton color="dark" (click)="goToDoctorsList()">Acessar Painel</button>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col md="4" class="mb-4">
        <c-card class="mx-auto card-interativo h-100" style="max-width: 23rem;" (click)="goToUpdateClinic()">
            <img cCardImg="top" class="card-img-padrao" src="assets/images/clinica2.jpg" alt="Consultas">
            <c-card-body>
                <h5 cCardTitle>Minha Clinica</h5>
                <p cCardText>
                    Confira os dados da sua clinica.
                </p>
                <button cButton color="dark" (click)="goToUpdateClinic()">Acessar Painel</button>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col md="4" class="mb-4">
        <c-card class="mx-auto card-interativo h-100" style="max-width: 23rem;" (click)="goToClinicRequests()">
            <img cCardImg="top" class="card-img-padrao" src="assets/images/solicitacoes.jpg" alt="Solicitacoes" style="height:200px;">
            <c-card-body>
                <h5 cCardTitle>Solicitações</h5>
                <p cCardText>
                    Confira aqui as suas solicitações.
                </p>
                <button cButton color="dark" (click)="goToClinicRequests()">Acessar Painel</button>
            </c-card-body>
        </c-card>
    </c-col>

</c-row>

<c-row>
    <c-col md="4" class="mb-4">
        <c-card class="mx-auto card-interativo h-100" style="max-width: 23rem;" (click)="goToClinicAppointments()">
            <img cCardImg="top" class="card-img-padrao" src="assets/images/clinica.jpg" alt="Consultas" style="height:200px;">
            <c-card-body>
                <h5 cCardTitle>Consultas</h5>
                <p cCardText>
                    Confira as consultas da sua clínica.
                </p>
                <button cButton color="dark" (click)="goToClinicAppointments()">Acessar Painel</button>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>