/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";


.card-interativo {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
  }
}

/* Estilos para o Loader de Navegação Global */
.navigation-loader-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 9999; 
  opacity: 1;
  transition: opacity 0.3s ease-in-out; 
}
